<div class="row avail_services">
  <!-- page head -->
  <div class="col-12" >
    <div class="col-7">
      <p>
        OUR <br />
        <span>SERVICES</span>
      </p>
    </div>
    <div class="col-5">
      <!-- need a image -->
    </div>
  </div>
</div>

<!-- page content -->
<div class="row contents">
  <div class="Services">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 desc">
      <summary>
        <section>
          <span>01</span>
          <header>Prod_Description</header>
        </section>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nam
        tempore, doloremque quos ipsa cupiditate dignissimos autem repellendus
        neque assumenda? Ipsa dolorum accusamus aut sequi rem similique expedita
        asperiores qui! Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Eius incidunt accusamus ad necessitatibus exercitationem
        praesentium amet! Ab autem repellat cupiditate harum corrupti dolorum
        deleniti totam temporibus. Nam distinctio modi delectus.
      </summary>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 images">
      <img
        src="../../assets/page-banner4.639b2ec8.png"
        alt="Product_name"
        srcset=""
      />
    </div>
    
  </div>
  <div class="Services">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 desc">
      <summary>
        <section>
          <span>01</span>
          <header>Prod_Description</header>
        </section>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nam
        tempore, doloremque quos ipsa cupiditate dignissimos autem repellendus
        neque assumenda? Ipsa dolorum accusamus aut sequi rem similique expedita
        asperiores qui!
      </summary>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 images">
      <img
        src="../../assets/page-banner4.639b2ec8.png"
        alt="Product_name"
        srcset=""
      />
    </div>
  </div>
  <div class="Services">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 desc">
      <summary>
        <section>
          <span>01</span>
          <header>Prod_Description</header>
        </section>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nam
        tempore, doloremque quos ipsa cupiditate dignissimos autem repellendus
        neque assumenda? Ipsa dolorum accusamus aut sequi rem similique expedita
        asperiores qui!
      </summary>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 images">
      <img
        src="../../assets/page-banner4.639b2ec8.png"
        alt="Product_name"
        srcset=""
      />
    </div>
  </div>
  <div class="Services">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 desc">
      <summary>
        <section>
          <span>01</span>
          <header>Prod_Description</header>
        </section>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nam
        tempore, doloremque quos ipsa cupiditate dignissimos autem repellendus
        neque assumenda? Ipsa dolorum accusamus aut sequi rem similique expedita
        asperiores qui!
      </summary>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 images">
      <img
        src="../../assets/page-banner4.639b2ec8.png"
        alt="Product_name"
        srcset=""
      />
    </div>
  </div>
  <div class="Services">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 desc">
      <summary>
        <section>
          <span>01</span>
          <header>Prod_Description</header>
        </section>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nam
        tempore, doloremque quos ipsa cupiditate dignissimos autem repellendus
        neque assumenda? Ipsa dolorum accusamus aut sequi rem similique expedita
        asperiores qui!
      </summary>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 images">
      <img
        src="../../assets/page-banner4.639b2ec8.png"
        alt="Product_name"
        srcset=""
      />
    </div>
  </div>
</div>
