/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; width: 100%; } */
body { margin: 0; overflow: hidden; overflow-y: auto !important; }

/* bd1c2c : RED , ff7d23 : Yellow            [#346751 (option)]*/  

:root{
    --logo-red-color : #bd1c2c;
    --logo-yellow-color : #ff7d23;
    --logo:#FFC85C;
}