    <div class="row nav-pos">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 xxl-3 logo">
            <img class="logo-img" src="assets/logo/S-Print_Logo.png" width="80px" height="80px" alt=""><h4>rint</h4>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 xxl-9 Nvlst">
            <p>Home</p>
            <p routerLink="/services">Services</p>
            <p routerLink="/products">Our Products</p>
            <p>About Us</p>
        </div>
    </div>

    <div class="row Top-Bnr">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 Ban-By" >
            <p class="Bnr-txt">Grow your business <br> with our S Print ads!</p>
            <p class="bnr-sub-cnt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ipsam saepe fuga nostrum sunt corrupti odit doloremque obcaecati, ducimus incidunt reiciendis molestias soluta beatae? Libero accusamus possimus molestias ullam neque!</p>
            <div class="Stars" style="--rating: 5;" aria-label="Rating of this product is 2.3 out of 5."></div>
            <button  mat-raised-button type="button" class="bnr-btn">Expolre Now</button>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <img class="BanImg" src="assets/image/banr-img.png" alt="">
        </div>
    </div>

    <!-- Cards [ex:Eye-Cating] -->
    <div class="container">
        <div class="row grd-crd-by">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 grd-crd-cnt">
                <div class="grd-crd">
                    <img class="grd-crd-icon" src="assets/image/eye_catch.png" alt="">
                    <h1 class="grp-crd-hed">Novel,Innovative & Eye-Catching</h1>
                    <p class="grp-crd-cnt">It's a great way to advertise and get the public seeing your products and brand,
                       without being too in your face. It raises curiosity and will leave people wanting to find out more.
                       What more could you want? 
                    </p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 grd-crd-cnt">
                <div class="grd-crd">
                    <img class="grd-crd-icon" src="assets/image/value_money.png" alt="">
                    <h1 class="grp-crd-hed">Valur For Money & Effective</h1>
                    <p class="grp-crd-cnt">At the cost of a 'hit and hope' broadcast and print media promotional campaigns, you could run year long
                        campaigns with Cycle Advertising. Seen as the most cost efficient form of advertising.
                    </p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 grd-crd-cnt">
                <div class="grd-crd">
                    <img class="grd-crd-icon" src="assets/image/targeted_mem.png" alt="">
                    <h1 class="grp-crd-hed">Highly Targeted Marketing</h1>
                    <p class="grp-crd-cnt">You're in control, you decide when and where to go. The cycle ads reach out to your customers directly 
                        rather then waiting for your audience ti pick up a magazine or switch on the radio and expect them to see your ad.
                    </p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 grd-crd-cnt">
                <div class="grd-crd">
                    <img class="grd-crd-icon" src="assets/image/eco-friendly.png" alt="">
                    <h1 class="grp-crd-hed">Eco-Friend Promotions</h1>
                    <p class="grp-crd-cnt">You will be seen as a brand that supports 'green initiatives',
                        Campaigns these days are trying to leverage the instant emotionals connect of customers towards
                        green initiatives. So go green and get noticed by your customer!.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
<!-- Profile Section  -->
<div class="row">
    <div class="col-12 col-12 col-md-1 col-lg-1 col-xl-1 xol-xxl-1"></div>
    <div class="col-12 col-12 col-md-10 col-lg-10 col-xl-10 xol-xxl-10">
        <div class="row para-by">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
               <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6">
                    <img class="Abt-Img" src="assets/image/grp1.jpg" alt="">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 xxl-6 mt-5">
                    <img class="Abt-Img" src="assets/image/grp.png" alt="">
                </div>
               </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h1 class="heding pro-hed">Profile</h1>
                <div class="para-txt">
                    <p>We feel proud to introduce ourselves as <span>One of the leading advertising agency in Tamilnadu</span> </p>
                <p>S Print is an expert advertising agency with cost effective service with no compromised quality of work and timely despatch
                    of service based on the clients need and demand.
                </p>
                <p>
                    We are proud to provide utmost satisfaction our clients beacause of our close follow up of the order placed.
                    We forward a feedback report after the complietion of our project.
                </p>
                <p>
                    Ours has a unlimited time of service round the clock and we are ready to serve the lengt and breadth of our motherland.
                    To have business relationship with you on a long term basic is our pleasure.We the team of S Print are ready to serve you
                    at anytime anywhere.Our service gets expanded day by day,it is under one-roof.
                </p>
                <p>We have enormous man power put into utillity for the organization of any project in an effective and skillful manner.</p>
                </div>
            </div>
        </div>


<!-- Objective & Goals Section -->
<div class="row para-by">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
       <h1 class="heding obj-hed">Objectives & Goal</h1>
       <div class="para-txt">
        <p>Our Ultimate aim is to serve your company and stretch our hands to achieve your sales target and improve your brand image
            amongst the mass and thereby increasing the customer database.
       </p>
       <p>
        We take utmost care to bring out the speciality of your products in the public in an efficient manner.
       </p>
       <p>Our concern and priority is your (Client's) satisfaction</p>
       <p>Our doors are opened to you always for the enormous publicity of your products in nook and corner of our india in quality 
        as well as in affordable cost.  </p>
       </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <img class="goalImg" src="assets/Dart hitting center of target 3D icon.jpg" alt="">
    </div>
</div>

<!-- Our Services -->
        <div class="row ser-by">
            <h1 class="heding ser-hed">Our Services</h1>
            <p class="ser-sub-hed">We Work Provide your super awesome stuff</p>
                <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let item of services">
                    <div class="card mb-3" style="width:100%">
                        <img class="card-img-top" [src]="item.img"  alt="Card image cap">
                        <div class="product-detail">
                            <h5 class="card-title heading text-center">{{item.title}}</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro in nesciunt aperiam numquam soluta, nulla temporibus ea qui tempora voluptatum quia laboriosam quas nihil vitae. Officiis rem distinctio veniam ipsam.</p>
                        </div>
                    </div>
                </div>
        </div>


        <!-- Promotional Activities -->
        <div class="row mt-5">
            <h1 class="heding promo-hed">Promotional Activities</h1>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <div class="row CardPRO">
                <mat-card *ngFor="let item of promotions" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 PromCrd">
                    <span class="circle-pt"></span>
                    <span>{{item}}</span>
                </mat-card>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <img class="pro-img" src="assets/poster/b1.jpeg" alt="">
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <img class="pro-img" src="assets/poster/b2.jpeg" alt="">
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="heding bi-hed">BI/Tri Cycle Advertising</h1>
                <p class="bi-text">Cycle Advertising is an innovative and eye-catching way of getting you noticed.It works by simply taking your advertising
                    to places,which are in direct contact with large volumes of people like city centers or busy high streets.
                </p>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <img class="tri-img" src="assets/poster/tricy1.jpeg" alt="">
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"> 
                <img class="tri-img" src="assets/poster/tricy2.jpeg" alt="">
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <img class="tri-img" src="assets/poster/tricy3.jpeg" alt=""> 
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <img class="tri-img" src="assets/poster/tricy4.jpeg" alt="">
            </div>
           <!-- sdfds -->
        </div>
    </div>
    <div class="col-12 col-12 col-md-1 col-lg-1 col-xl-1 xol-xxl-1"></div>
</div>

<div class="row">
    <h1 class="heding cli-hed">Our Clients</h1>
    <p class="bi-text">WE CREATE POWERFUL MARKETING CONTENT FOR A HUGE VARIETY OF CLIENTS</p>
    <div class="logo-slider" data-v-4ef8651c="">
        <div class="logos-slide" data-v-4ef8651c="">
          <img src="https://i.ibb.co/Vv5rkDK/api-partner-verzon.png" data-v-4ef8651c="">
          <img src="https://i.ibb.co/J399KDg/api-partner-netflix.png" data-v-4ef8651c="">
          <img src="https://i.ibb.co/TKT0F5L/api-partner-yelp.png" data-v-4ef8651c="">
          <img src="https://i.ibb.co/HG6KR89/api-partner-adobe.png" data-v-4ef8651c="">
          <img src="https://i.ibb.co/hMSJ1sg/api-partner-ring.png" data-v-4ef8651c="">
          <img src="https://i.ibb.co/4RWQcMS/api-partner-nespresso.png" data-v-4ef8651c="">
        </div>
      </div>
</div>
<footer class="ftr">
    <div class="row">
        <!-- <div class="col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div> -->
        <!-- <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="row"> -->
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <img src="assets/logo/S-Print_Logo.png" alt="">
                    <h2>SPrint</h2>
                    <p>10,MGR Street,shollinganallur,chennai-600001</p>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <ol style="list-style: none;">
                        <li>Profile</li>
                        <li>Profile</li>
                        <li>Profile</li>
                        <li>Profile</li>
                    </ol>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <ol style="list-style: none;">
                        <li>Contact</li>
                        <li><mat-icon>home</mat-icon>Home</li>
                        <li>Mail</li>
                        <li>Contact</li>
                    </ol>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <h4>Follow us</h4>
                    <ol style="list-style: none;">
                        <li>Facebook</li>
                        <li>x</li>
                        <li>Insta</li>
                        <li>LinkedIn</li>
                    </ol>
                </div>
<!--                 
            </div>
        </div> -->
        <!-- <div class="col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div> -->
    </div>
</footer>